<section id="banner" class="c-banner p-scroll">
  <div class="c-banner__imgtext l-container">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="./assets/img/banner/banner_bg_mobile.jpg"
      />

      <img
        class="c-banner__img"
        src="./assets/img/banner/banner_bg.jpg"
        alt="ハッカ油"
      />
    </picture>
    <div class="c-banner__content">
      <h1 class="c-banner__heading">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="./assets/img/banner/banner_h1_mobile.png"
          />
          <img
            class="c-banner__headingimg u-scalehalf"
            src="./assets/img/banner/banner_h1.png"
            alt="健栄製薬の ハッカ油"
          />
        </picture>
      </h1>
      <hr class="c-banner__linebreak" />
      <p class="c-banner__product--en">MENTHA OIL</p>
      <p class="c-banner__slogan">ハッカ油は、毎日の暮らしを豊かにする</p>
      <p class="c-banner__slogan2">魔法のしずく</p>
      <a href="#"
        ><label class="c-banner__label u-whitetext"
          >ハッカ？<span class="c-banner__label--pp">ミント？</span></label
        ></a
      >
    </div>
  </div>
  <img
    class="c-banner__iconmenu u-scalehalf"
    src="./assets/img/header/iconmenu_green_mobile.png"
    alt="icon menu"
  />
</section>
